# Xcode
.DS_Store
*/.DS_Store
*.swp
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Build generated
build/
DerivedData/

# Misc
.agent/
.gemini/
.idea/
*.moved-aside
*.xccheckout
*.xcscmblueprint
